{{ $figures := .content | findRE "{{< figure .+? >}}" | uniq }}

{{ .context.Scratch.Set "content" .content }}

{{ range $figures }}
  {{ $src := . | replaceRE "{{< figure.*? src=\"(.+?)\" .*?>}}" "$1" | strings.TrimPrefix . }}
  {{ $title := . | replaceRE "{{< figure.*? title=\"(.+?)\" .*?>}}" "$1" | strings.TrimPrefix . }}
  {{/* TODO: Extend support to the full set of shortcode attributes:
    .class .link .target .rel .alt .caption .width .height
    .attr .attrlink
  */}}
  {{ $regex := printf "{{< figure.*? src=\"%s\" .*?>}}" $src }}

  {{ $.context.Scratch.Set "content" ($.context.Scratch.Get "content" | replaceRE $regex (partial "shortcodes/figure.html" (dict "src" $src "title" $title))) }}
{{ end }}

{{ .context.Scratch.Get "content" }}
